pipeline/Pipe_line_Load_mult_tables_data_to_Files.json
{
	"name": "Pipe_line_Load_mult_tables_data_to_Files",
	"properties": {
		"description": "Pipe_line_Load_mult_tables_data_to_Files",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Hello",
						"value": "Hello"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from i0000843 .information_Schema.tables where table_type='BASE TABLE'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [
								{
									"name": "Hi",
									"value": "@{item().Table_Schema}.@{item().Table_Name}"
								},
								{
									"name": "Hello",
									"value": "containermultiple//@{concat(item().Table_Schema,'_',item().Table_Name,'.CSV')}"
								}
							],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SQLTables",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": {
											"value": "@item().Table_Name",
											"type": "Expression"
										},
										"Schema_Name": {
											"value": "@item().Table_Schema",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "tgt_testg_csv",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@concat(item().Table_Schema,'_',item().Table_Name,'.CSV')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}